[project]
name = "vamb"
dynamic = ["version"]
dependencies = [
    "numpy == 1.24.2",
    "torch == 1.13.1",
    "pycoverm == 0.6.0",
    "pyhmmer == 0.10.2",
    "pyrodigal == 3.0.0"
]
# Currently pycoverm does not have binaries for Python > 3.11.
# The dependency resolver, will not error on Python 3.11, but attempt
# to build pycoverm from source, but will not get the deps required for that.
requires-python = "<3.12,>=3.9.0"
scripts = {vamb = "vamb.__main__:main"}

[metadata]
authors = [
    {name="Jakob Nybo Nissen", email="jakobnybonissen@gmail.com"},
    {name="Pau Piera", email="pau.piera@cpr.ku.dk"},
    {name="Simon Rasmussen", email="simon.rasmussen@cpr.ku.dk"}
]
url = "https://github.com/RasmussenLab/vamb"
description = "Variational and Adversarial autoencoders for Metagenomic Binning"
license = "MIT"
[tool.setuptools.dynamic]
version = {attr = "vamb.__version__"}
readme = {file = "README.md"}

[build-system]
requires = ["setuptools ~= 63.0", "Cython ~= 0.29.5"]
build-backend = "setuptools.build_meta"

[tool.ruff]
ignore = ["E501"]
