/snakemake_output/
/genomad_db/
/trash
.cli.py.swp
bin/plamb/
bin/plamb_ptracker_dir/
envs/.pipeline_conda.yaml.swp
/vamb_asymmetric
/Airways/
/outdir_plamb/
.snakemake/
core.*
/data/
/sratoolkit*
/__pycache__/
/A/
/benchmark/
/Skin/
/Gastrointestinal/
/Oral/
/output/
/Urogenital/
snakejob*
/results/
log
src/workflow_plamb/__pycache__
src/workflow_plamb/__pycache__
src/workflow_plamb.egg-info
