name: Command line interface tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:
    inputs:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip' # caching pip dependencies
        cache-dependency-path: '**/pyproject.toml'
    - name: Download fixtures
      run: |
        wget https://www.dropbox.com/scl/fi/ivsqbao9we1lnyyyh43cc/ci_data.zip\?rlkey\=b9lcqxs63iv2409q5a7q1oh9z\&dl\=0 -O ci_data.zip
        unzip ci_data.zip
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        pip install -e .
    - name: Run VAMB
      run: |
        vamb bin default --outdir outdir_vamb --fasta catalogue_mock.fna.gz --rpkm abundance_mock.npz -l 32 -e 10 -q 2 -o C --minfasta 200000 -t 10
        ls -la outdir_vamb
        cat outdir_vamb/log.txt
    - name: Run TaxVAMB
      run: |
        vamb bin taxvamb --outdir outdir_taxvamb --fasta catalogue_mock.fna.gz --rpkm abundance_mock.npz --taxonomy taxonomy_mock.tsv -pe 10 -pt 10 -e 10 -q -t 10 -o C --minfasta 200000
        ls -la outdir_taxvamb
        cat outdir_taxvamb/log.txt
        vamb bin taxvamb --outdir outdir_taxvamb_no_predict --no_predictor --fasta catalogue_mock.fna.gz --rpkm abundance_mock.npz --taxonomy taxonomy_mock.tsv -e 10 -q -t 10 -o C --minfasta 200000
        ls -la outdir_taxvamb_no_predict
        cat outdir_taxvamb_no_predict/log.txt
        vamb bin taxvamb --outdir outdir_taxvamb_preds --fasta catalogue_mock.fna.gz --rpkm abundance_mock.npz --taxonomy_predictions outdir_taxvamb/results_taxonomy_predictor.csv -e 10 -q -t 10 -o C --minfasta 200000
        ls -la outdir_taxvamb_preds
        cat outdir_taxvamb_preds/log.txt
    - name: Run Taxometer
      run: |
        vamb taxometer --outdir outdir_taxometer --fasta catalogue_mock.fna.gz --rpkm abundance_mock.npz --taxonomy taxonomy_mock.tsv -pe 10 -pt 10
        ls -la outdir_taxometer
        cat outdir_taxometer/log.txt
        vamb taxometer --outdir outdir_taxometer_pred --fasta catalogue_mock.fna.gz --rpkm abundance_mock.npz --taxonomy outdir_taxometer/results_taxonomy_predictor.csv --column_contigs contigs --column_taxonomy predictions --delimiter_taxonomy , -pe 10 -pt 10
        ls -la outdir_taxometer_pred
        cat outdir_taxometer/log.txt
    - name: Run k-means reclustering
      run: |
        vamb recluster --outdir outdir_recluster --fasta catalogue_mock.fna.gz --rpkm abundance_mock.npz --latent_path outdir_taxvamb/vaevae_latent.npy --clusters_path outdir_taxvamb/vaevae_clusters_split.tsv --hmmout_path markers_mock.hmmout --algorithm kmeans --minfasta 200000
        ls -la outdir_recluster
        cat outdir_recluster/log.txt
